@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;


.contenedor {
    width: 100%;
    position: relative; 
    display: inline-block; 
}

.map-mobile {
    display: block; 
    width: 100%; 
    margin-bottom: -4px;

    @include mix.breakpoint(tablet) {
        &.map-mobile {
            display: none;
        }
        &.map-desktop {
            display: none;
        }
}

}

@include mix.breakpoint(mobile){
    .map-desktop {
        display: none;
    }
    .map-tablet {
        display: none;
    }
}

.map-tablet {
    margin-bottom: -4px;
    @include mix.breakpoint(mobile) {
        &.map-tablet {
            display: none;
        }
    }
}

@include mix.breakpoint(tablet) {
    .texto-location {
        display: flex;
        margin-top: 88px;
        margin-left: 20px;
        gap: 60px;
    }

    .map-desktop {
        display: none;
    }
    
}

@include mix.breakpoint(desktop) {
    .map-tablet {
        display: none;
    }
    .map-mobile {
        display: none;
    }
    .map-desktop {
        display: block;
        width: 100%;
        margin-bottom: -4px;
    }

    .texto-location {
        display: flex;
        margin-top: 88px;
        margin-left: 130px;
        gap: 300px;
    }
}


.fondo-location {
    margin-top: 0;
    padding-top: 1px; 
    margin-top: -1px;
    width: 100%;
    height: 520px;
    background-color: vars.$black;
    position: relative;

    @include mix.breakpoint(mobile) {
        width: 100%;
    }

    @include mix.breakpoint(tablet) {
        height: 430px;
    }

    @include mix.breakpoint(desktop) {
        height: 450px;
    }
    



.title {
    font-family: vars.$title-font;
    color: vars.$white;
    font-size: 55px;
    line-height: 65px;
    font-weight: 900;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 16px;

     @include mix.breakpoint(tablet) {
        margin-top: 0;
}
@include mix.breakpoint(desktop) {
    margin-top: 0;
}
}

.subtitle-location {
    color: vars.$gold;
    font-size: 34px;
    font-family: vars.$title-font;
    margin-bottom: 30px;
    margin-left: 16px;
}

.adress {
    display: flex;
    flex-direction: column;
    color: vars.$white;
    margin-bottom: 20px;
    margin-left: 16px;
    
    span {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
}

.description-location, .subtitle  {
    color: vars.$white;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 16px;

    .p-description-location {
        margin-left: 16px;
        width: 90%;
        font-size: 18px;

        @include mix.breakpoint(desktop) {
            width: 55%;
        }    
        
    }

    @include mix.breakpoint(desktop) {
        width: 65%;
        
    }

}
}

.footer-location{
    height: 360px;
    background-color: vars.$gold;
    width: calc(100% + 33px);
    
    @include mix.breakpoint(desktop) {
        margin-top: 0;
        height: 100%;
    }

    @include mix.breakpoint(tablet) {
        margin-top: 0;
        height: 100%;
    }


    .footer-contenido {
        margin-left: 0;
        margin-right: 16px;

    @include mix.breakpoint(tablet) {
        display: flex;
        height: 202px;
        align-items: flex-start;
    }

    @include mix.breakpoint(desktop) {
        display: flex;
        height: 202px;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: 100px;
        gap: 100px;
        align-items: flex-start;
    }

    img {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 38px;
        filter: invert(1);
    }

    .p-footer {
        margin-left: 50px;
        margin-right: 50px;
        color: vars.$black;
        font-size: 18px;
        line-height: 28px;
        font-weight: 200;
        margin-bottom: 38px;

        @include mix.breakpoint(desktop) {
            margin-top: 50px;
            width: 30%;
        }

    }

    .icon-rrss {
        margin-left: 50px;
        display: flex;
        gap: 20px;

        @include mix.breakpoint(desktop) {
            width: 140px;
        }
    }
    .rrss {
        margin: 0;
        filter: invert(1);
        width: 22px;

        
    }
}
}

